.med20 {
  font-family: 'Poppins-Medium';
  font-style: normal;
  // font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}

.reg20 {
  font-family: 'Poppins';
  font-style: normal;
  // font-weight: normal;
  font-size: 2rem;
  line-height: 2.8rem;
}

.med18 {
  font-family: 'Poppins-Medium';
  font-style: normal;
  // font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.reg18 {
  font-family: 'Poppins';
  font-style: normal;
  // font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.med16 {
  font-family: 'Poppins-Medium';
  // font-style: normal;
  // font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.reg16 {
  font-family: 'Poppins';
  font-style: normal;
  // font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.med15 {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.reg15 {
  font-family: 'Poppins';
  font-style: normal;
  // font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.med13 {
  font-family: 'Poppins';
  font-style: normal;
  // font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.reg13 {
  font-family: 'Poppins';
  font-style: normal;
  // font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.med12 {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.med24 {
  font-family: 'Poppins';
  font-style: normal;
  // font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.reg12 {
  font-family: 'Poppins';
  font-style: normal;
  // font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.8rem;
}